<div class="container">
<div class="alert alert-success" *ngIf="getData">
  <strong>Success!</strong> your are logged in as {{getData.params.firstName}}
</div>

      <form class="form-signin" [formGroup]="loginForm" novalidate="" (ngSubmit) = "loginFormSubmit(loginForm.value)">
        <h2 class="form-signin-heading">Please sign in</h2>
        <div class="form-group">
	        <label for="inputEmail" class="sr-only">Email address</label>
	        <input 
	        type="email" 
	        name="email" 
	        class="form-control" 
	        placeholder="Email address" 
	        [formControl]="loginForm.controls['email']"
          >

          <div *ngIf="loginForm.controls['email'].hasError('required') && loginForm.controls['email'].touched" class="alert alert-danger">Enter your email.</div>

            <div *ngIf="loginForm.controls['email'].hasError('pattern') && loginForm.controls['email'].touched && !loginForm.controls['email'].hasError('required')" class="alert alert-danger">Please enter an email.</div>
     

        </div>
        <div class="form-group">
	        <label for="inputPassword" class="sr-only">Password</label>
	        <input 
	        type="password" 
	        name="password" 
	        class="form-control" 
	        placeholder="Password" 
	        [formControl]="loginForm.controls['password']" 
          >
          <div *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched" class="alert alert-danger">Enter your password.</div>

        </div>

        <!--<div class="checkbox">
          <label>
            <input 
            type="checkbox"  
            name="remember"  
            [(ngModel)]="remember" 
            value="remember-me"> Remember me
          </label>
        </div>-->
        <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!loginForm.valid">Sign in</button>
      </form>
     

    </div> <!-- /container -->