<app-mainmenu></app-mainmenu>
<div class="container">
<p>
  maiores alias consequatur aut perferendis doloribus asperiores repellat.
  maiores alias consequatur aut perferendis doloribus asperiores repellat.
  maiores alias consequatur aut perferendis doloribus asperiores repellat.
  maiores alias consequatur aut perferendis doloribus asperiores repellat.
</p>
	<div class="form-group">
	<textarea id="editor" name="editor" class="form-control"></textarea>
	</div>

	<button type="button" class="btn btn-primary savenote">Save your note</button>
</div>