<app-mainmenu></app-mainmenu>
<div class="container">
<p>
  Click on the + in bottom to add your note
 

</p>

<div class="compose compose-now" (click)="hideandShow()"></div>
 	<div class="alert alert-success" *ngIf="msg==true">
  <strong>Success!</strong> Your note is saved
</div>
<div class="alert alert-warning" *ngIf="msg==false">
  <strong>Please try again!</strong> 
</div>
<div class="textareaWrapper">
	<form name="homForm" action="" method="post">
	<div #textareaWrapper class="form-group" >
	<textarea id="editor" name="editor" [(ngModel)]="editor" class="form-control" ></textarea>
	</div>
	{{editor}}

	<button (click)="Submited($event)" type="button" class="btn btn-primary savenote" [disabled]="!isValueEntered">Save your note</button>
	
	</form>
	</div>
</div>
<app-notelist></app-notelist>
